entrypoint = "main.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python main.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Futtatás"

[[workflows.workflow]]
name = "Futtatás"
author = 40296216
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34397
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-6d29450d-0880-4954-bc03-4446b1be0d7c"
